body {
    text-align: center;
    font-family: 'quintessential', cursive;
    background: linear-gradient(#6d597a, #355070);
    color: #eaac8b;
}

h1, h2, h3, h4, p {
    text-shadow: 0 0 1px black;
}

#bff-img {
    width: 200px;
    border-radius: 50%;
    border: 6px solid #b56576;
    margin-bottom: 10px;
}

#bday-age {
    background: #b56576;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0;
    background: #b56576;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

#gift-img-cheers {
    height: 200px;
}

.gift-img {
    margin: 20px auto;
    max-width: 400px;
    height: 400px;
    border: 6px solid #b56576;
    border-radius: 10px;
    background-image: url("images/gift-cover.jpg");
    background-size: cover;
}

#gift-img-happy:hover {
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExb3AzeThrNHAyZXI4YW1wczdoZHR3MHB5am5xdm44a3JiZHZxZHJpNyZlcD12MV9naWZzX3NlYXJjaCZjdD1n/MkQk7LHNJSaYg/giphy.gif");
}

#gift-img-hot:hover {
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExaWhiaHBodnM2ZXBxdGRscDI3Z3Q1bThiYzNxdm0zM2Voeng2MDhqNyZlcD12MV9naWZzX3NlYXJjaCZjdD1n/7vAwVEdJS5cKxediyK/giphy.gif");
}

#gift-img-genius:hover {
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExZnV2ZW94NmwybmFoaWx2a2U3aWFxazBnMDM2bGtqcGU4djVhMmV2MyZlcD12MV9naWZzX3NlYXJjaCZjdD1n/d3mlE7uhX8KFgEmY/giphy.gif");
}

#gift-img-badass:hover {
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExaW1kYzZ6d3kydTl6eGZ0bmZjczFzZDQ4OTdtNmpudTlmMjJiOTJ3NiZlcD12MV9naWZzX3NlYXJjaCZjdD1n/xoHntNXFYkfzGAftEv/giphy.gif");
}

#gift-img-cheers:hover {
    background-image: url("https://media.giphy.com/media/v1.Y2lkPWVjZjA1ZTQ3OHFqaWJ3NmwzM2s5dnY2ejVzeXJ1MGdkdGs3ZDBqZjRuOXV0YXF1MiZlcD12MV9naWZzX3NlYXJjaCZjdD1n/M0EStXvkjbLMc/giphy.gif");
}

#footer {
    font-style: italic;
    width: 400px;
    margin: 40px auto 20px;
}

a {
    color: #eaac8b;
}

/* 
Add the footer paragraph according to the design. 
Configure the anchor tag to open the link in a new tab.
Forgotten how to do it? Google it! 

Link: 
https://scrimba.com/learn/htmlandcss

Text:
Want to create your own Birthday GIFt site? Take this HTML & CSS course.
*/